* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e5e5e5;
}
.container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.app-title {
  text-align: center;
  font-size: 70px;
  color: #476771;
  font-family: Palanquin Dark;
  margin-top: 10px;
}
.image-slide {
  width: 100%;
  height: 331px;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-discription {
  text-align: center;
  color: black;
  font-size: 24px;
  line-height: 30px;
  margin: 35px 30px;
  font-family: Rowdies;
}

.start-btn {
  width: 219px;
  height: 70px;
  background-color: #476771;
  color: white;
  border-radius: 20px;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-family: Sarabun;
  border: none;
  cursor: pointer;
}
/* by defult the slider will disapper */
.slider-image {
  display: none;
}
/* The dots*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}
.active {
  background-color: rgb(82, 82, 82);
}
.dot-section {
  text-align: center;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .app-title {
    font-size: 111px;
  }
  .image-slide {
    height: 465px;
  }
  .app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app-discription {
    font-size: 35px;
    line-height: 1.3;
    margin: 25px 46px;
  }
  .start-btn {
    width: 280px;
    height: 90px;
    font-size: 41px;
    margin-top: 26px;
  }
}
@media (min-width: 992px) {
  .app-title {
    font-size: 136px;
  }
  .image-slide {
    height: 638px;
  }
  .app-discription {
    font-size: 45px;
    line-height: 1.5;
    margin: 40px 60px;
  }
  .start-btn {
    width: 416px;
    height: 114px;
    font-size: 50px;
    margin-top: 38px;
  }
  .app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .app-title {
    font-size: 90px;
  }
  .app-discription {
    font-size: 42px;
    line-height: 1.2;
    margin: 40px 60px;
    max-width: 495px;
  }
  .start-btn {
    width: 312px;
    height: 73px;
    font-size: 42px;
    margin-top: 35px;
  }
  .image-slide {
    height: 400px;
    width: 400px;
  }
  .app-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .app-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
